
@media (max-width: 480px) {
	.item .itemHeader {
		width: 100%
	}

	.itemHeader h4 {
		width: 70%;
	}
}

#title h1 a { 
   text-decoration: none; 
   color: black;
}

hr {
	height: .1em;
	color: #000;
	background: #000;
	margin: .1em;
}

#items {
	list-style: none;
}

ol {
	margin: 0;
}

.item {
	margin-top: 1em;
	margin-bottom: 1em;
}

.item .itemHeader {
	margin-bottom: 1em;
	float: left;
}

.ico {
	display: block;
	width: 2em;
	vertical-align: middle;
}

.char {
	display: block;
	width: 2em;
	font-size: 14px;
}

