img.favicon {height: 8px; width: 8px;}
img.centered { vertical-align: middle; }

div.header { margin-bottom: 0px; }
div.subheader { margin-bottom: 0px; padding-top: 3px; }

p.indent { margin-left: 8px; }

.pager { text-align: center; }

.post-title { display: inline; }
.title-permalink { float:right; margin-top: 12px; }

hr.thin { margin-bottom: 9px; margin-top: 9px; }
div.top-box { height: 120px; margin-bottom: 9px;}

h1 a { text-decoration: none; color: black;}
